#team {
  #wrapper {
    #noticeBtn {
      border-bottom: 1px solid #666;
      font-size: 0.9em;
      cursor: pointer;
      &:hover {
        background-color: #fafafa;
      }
    }
    #teams {
      overflow-y: scroll;
      table {
        width: 100%;
        .team {
          border-bottom: 1px solid #ddd;
          &:nth-child(even) {
            background-color: #f8f8f8;
          }
          .title {
            vertical-align: middle;
            padding-left: 8px;
            font-size: 0.9em;
            width: 44px;
            height: 44px;
          }

          .members {
            padding: 6px;
            text-align: left;
            & > div {
              display: inline-block;
              margin: 4px;
              padding: 3px 2px 3px 6px;
              border: 1px solid #ddd;
              background-color: white;
              border-radius: 4px;
              &.hasArr {
                color: #527CE9;
                font-weight: bold;
              }
              &.hasPos {
                font-weight: bold;
                color: #527CE9;
                cursor: pointer;
                &:hover {
                border: 1px solid #527CE9;
                }
              }
              .name {
                font-size: 0.8em;
              }
              i.fas.fa-phone-square {
                font-size: 0.9em;
                opacity: 0.5;
                cursor: pointer;
                &:hover {
                  opacity: 1;
                }
              }
            }
            select {
              height: 28px;
              line-height: 28px;
              margin-left: 2px;
              outline: none;
              border: 1px solid #ddd;
              border-radius: 2px;
            }
          }
        }

      }

    }
  }
}