#naver-map {
  #wrapper {
    position: relative;
    .line {
      position: absolute;
      background-color: #527CE9;
      border: 1px solid white;
    }
    #toInitPosZm {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 160px;
      height: 36px;
      line-height: 36px;
      font-size: 0.9em;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 2px;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
    #markerDesc {
      position: absolute;
      top: 50px;
      left: 10px;
      width: 160px;
      border-radius: 2px;
      overflow: hidden;
      & > tr {
        & > td {
          &:first-child {
            padding-right: 2px;
          }
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
          border-bottom: 1px solid black;
          padding: 6px 10px 10px 10px;
          vertical-align: middle;
          text-align: left;
          line-height: 1.3em;
          font-size: 0.85em;
          h1 {
            color: skyblue;
            font-weight: bold;
            line-height: 2em;
          }
          span {
            opacity: 0.67;
            display: inline-block;
            margin-top: 4px;
          }
        }
        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }
      img {
        width: 28px;
        margin-top: 6px;
      }
    }
  }
}