#naver-map {
  #wrapper {
    position: relative;
    .line {
      position: absolute;
      background-color: #527CE9;
      border: 1px solid white;
    }
    #toInitPosZm {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 128px;
      height: 36px;
      line-height: 36px;
      font-size: 0.9em;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 2px;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
    #markerDesc {
      position: absolute;
      top: 50px;
      left: 10px;
      width: 128px;
      border-radius: 2px;
      overflow: hidden;
      & > tr {
        & > td {
          height: 40px;
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
          border-bottom: 1px solid black;
          vertical-align: middle;
          text-align: left;
          font-size: 0.9em;
          font-weight: bold;
          line-height: 2em;
          span {
            color: white;
            opacity: 0.3;
            &.on {
              color: yellow;
              opacity: 1;
            }
          }
        }
        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }
      img {
        width: 20px;
        margin: 0 2px 0 10px;
        vertical-align: middle;
      }
    }

    #strOnTeams {
      position: absolute;
      top: 0;
      right: 0;
      width: 220px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      overflow-y: scroll;
      & > div {
        margin-bottom: 26px;
      }
      .item {
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid white;
        .team {
          font-size: 0.95em;
          height: 32px;
          line-height: 38px;
          background-color: rgba(0, 0, 0, 0.5);
        }
        .strs {
          font-size: 0.9em;
          padding: 10px;
          text-align: left;
          span {
            display: inline-block;
            margin: 4px;
            cursor: pointer;
            &:hover {
              color: yellow;
            }
          }
        }
      }
    }

  }
}