#panel {
  #panelTop {
    width: 100%;
    td {
      background-color: #555;
      color: white;
      border-bottom: 1px solid #555;
      cursor: pointer;
      &.on {
        background-color: white;
        color: #333;
        border-bottom: white;
      }
    }
  }
  #panelScroll {
    overflow-y: hiddeN
  }
}