#situation {
  #wrapper {

    .button {
      display: inline-block;
      font-size: 0.9em;
      height: 26px;
      line-height: 26px;
      border: 1px solid #ddd;;
      padding: 4px 12px;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }
    }

    #beforeLogin {
      & > div {
        padding: 12px;

        div:first-child {
          margin: 20px;
        }
        input {
          vertical-align: top;
          height: 26px;
          line-height: 26px;
          margin: 0;
          outline: none;
          border: 1px solid #ddd;;
          padding: 4px;
        }
      }

    }

    #afterLogin {
      #eqInput {
        position: relative;
        left: 0;
        text-align: left;
        border-bottom: 1px solid #ccc;
        & > div {
          position: absolute;
          top: 13px;
          left: 13px;
          select {
            vertical-align: top;
            height: 36px;
            line-height: 36px;
            padding: 0;
          }
          input {
            vertical-align: top;
            width: 72px;
            height: 26px;
            line-height: 26px;
            margin: 0;
            outline: none;
            border: 1px solid #ddd;;
            padding: 4px;
            &.short {
              width: 40px;
            }
          }
          #space {
            height: 6px;
          }

        }
      }
      #earthquakes {
        overflow-y: scroll;
        font-size: 0.85em;
        table {
          width: 100%;
          border-bottom: 1px solid #ddd;
          cursor: pointer;
          span {
            margin: 0 2px;
            &.stat {
              margin-left: 0;
              border: 1px solid #ccc;
              background-color: white;
              padding: 4px 6px;
              cursor: pointer;
              &:hover {
                border: 1px solid #888;
              }
              &.active {
                border: 0;
                background-color: #555;
                color: white;
                &:hover {
                  background-color: #333;
                }
              }
            }
          }
          &:nth-child(odd) {
            background-color: #fafafa;
          }
          &:hover {
            background-color: #ddd;
          }

          &:hover {
            .deleteBtn, .sendAlarmBtn {
              display: inline;
            }
          }
          .deleteBtn, .sendAlarmBtn {
            display: none;
            border: 1px solid #ccc;
            background-color: white;
            padding: 4px 6px;
            margin-left: 4px;
            &:hover {
              border: 1px solid #555;
              background-color: #555;
              color: white;
            }
          }

          td {
            height: 48px;
            line-height: 48px;
            padding: 0 16px;
            text-align: left;
            &.buttons {
              text-align: right;
            }
          }
        }
      }
    }

  }
}