#structure {
  #wrapper {

    #strInput {
      position: relative;
      left: 0;
      text-align: left;
      & > div {
        position: absolute;
        top: 13px;
        left: 13px;
        select {
          height: 36px;
          line-height: 36px;
          padding: 0;
        }
        input {
          width: 120px;
          vertical-align: top;
          height: 26px;
          line-height: 26px;
          margin: 0;
          outline: none;
          border: 1px solid #ddd;;
          padding: 4px;
          &.short {
            width: 60px;
          }
          &.long {
            width: 180px;
          }
        }
        #space {
          height: 6px;
        }

        .button {
          display: inline-block;
          font-size: 0.9em;
          height: 26px;
          line-height: 26px;
          border: 1px solid #ddd;;
          padding: 4px 12px;
          cursor: pointer;
          &:hover {
            background-color: #eee;
          }
        }

      }
    }

    #search {
      width: 100%;
      color: white;
      background-color: #222;
      td {
        padding: 0 8px;

        &.sign {
          padding: 0;
          width: 48px;
          background-color: #333;
          &.button {
            cursor: pointer;
            &:hover {
              background-color: #111;
            }
          }
        }
        input {
          width: 100%;
          height: 100%;
          border: 0;
          outline: 0;
          padding: 0;
          color: white;
          background-color: #222;
          font-size: 0.9em;
        }
      }
    }

    #structures {
      overflow-y: scroll;
      font-size: 0.9em;
      * {
        color: white;
      }
      .structure {
        position: relative;
        text-align: left;
        padding: 6px 0;
        border-bottom: 2px solid #aaa;
        cursor: pointer;
        background-color: #444;
        &:hover {
          background-color: #555;
          .buttons {
            display: block;
          }
        }
        .buttons {
          display: none;
          position: absolute;
          right: 7px;
          top: 9px;
          text-align: right;
          font-size: 0.9em;
          &.spec {
            top: 44px;
            div {
              width: 111px;
            }
          }
          div {
            width: 52px;
            text-align: center;
            display: inline-block;
            background-color: #333;
            border: 1px solid #222;
            margin-left: 1px;
            height: 28px;
            line-height: 28px;
            cursor: pointer;
            &:hover {
              background-color: #222;
            }
          }
        }

        & > div {
          padding: 8px 12px;
          select {
            height: 30px;
            line-height: 30px;
            padding: 0;
            border: 1px solid #333;
            background-color: #444;
            font-size: 0.9em;
          }
          input {
            width: 120px;
            vertical-align: top;
            height: 20px;
            line-height: 20px;
            margin: 0;
            outline: none;
            border: 1px solid #333;
            background-color: #444;
            padding: 4px;
            font-size: 0.9em;
            &.short {
              width: 48px;
            }
            &.long {
              width: 144px;
            }
            &.tiny {
              width: 32px;
            }
            &.highlighted {
              color: skyblue;
              font-weight: bold;
            }
          }
          #space {
            height: 6px;
          }

          table {
            width: 100%;
          }
        }

        .report {
          width: inherit;
          .buttonCon {
            width: 120px;

            .button td {
              text-align: center;
              font-size: 0.9em;
              border:  1px solid #333;
              background-color: #444;
              height: 28px;
              line-height: 28px;
              text-align: center;
              color: #888;
              cursor: pointer;
              i {
                color: #888;
              }
              &:hover {
                background-color: #333;
                &.alert {
                  background-color: #444;
                }
                &.on {
                  background-color: #ddd;
                }
              }
              &.on {
                background-color: white;
                color: #333;
                i {
                  color: #333;
                }
              }
            }

          }
          .text {
            font-size: 0.9em;
            line-height: 1.2em;
            padding: 2px 8px 0 8px;
            vertical-align: top;
            color: #888;
            &.on {
              color: yellow;
            }
            .date {
              color: #888;
            }
            i {
              margin-left: 2px;
              opacity: 0.3;
              &:hover {
                opacity: 1;
              }
            }
          }

        }

        .specCon {
          .spec {
            width: 100%;
            background-color: #444;
            border: 1px solid #333;
            color: white;
            font-size: 1.1em;
          }
        }

      }
    }

  }
}