#structure {
  #wrapper {

    #strInput {
      position: relative;
      left: 0;
      text-align: left;
      & > div {
        position: absolute;
        top: 13px;
        left: 13px;
        select {
          height: 36px;
          line-height: 36px;
          padding: 0;
        }
        input {
          width: 100px;
          vertical-align: top;
          height: 26px;
          line-height: 26px;
          margin: 0;
          outline: none;
          border: 1px solid #ddd;;
          padding: 4px;
          &.short {
            width: 60px;
          }
          &.long {
            width: 136px;
          }
        }
        #space {
          height: 6px;
        }

        .button {
          display: inline-block;
          font-size: 0.9em;
          height: 26px;
          line-height: 26px;
          border: 1px solid #ddd;;
          padding: 4px 12px;
          cursor: pointer;
          &:hover {
            background-color: #eee;
          }
        }

      }
    }

    #search {
      width: 100%;
      color: white;
      background-color: #222;
      td {
        padding: 0 8px;

        &.sign {
          padding: 0;
          width: 48px;
          background-color: #333;
          &.button {
            cursor: pointer;
            &:hover {
              background-color: #111;
            }
          }
        }
        input {
          width: 100%;
          height: 100%;
          border: 0;
          outline: 0;
          padding: 0;
          color: white;
          background-color: #222;
          font-size: 0.9em;
        }
      }
    }

    #structures {
      overflow-y: scroll;
      font-size: 0.9em;
      * {
        color: white;
      }
      .structure {
        position: relative;
        text-align: left;
        border-bottom: 1px solid #555;
        cursor: pointer;
        background-color: #444;
        &:hover {
          background-color: #555;
          .buttons {
            display: block;
          }
        }
        .buttons {
          position: absolute;
          right: 7px;
          top: 7px;
          display: none;
          text-align: right;
          font-size: 0.9em;
          div {
            display: inline-block;
            background-color: #333;
            border: 1px solid #222;
            margin-left: 1px;
            height: 28px;
            line-height: 28px;
            padding: 0 8px;
            cursor: pointer;
            &:hover {
              background-color: #222;
            }
          }
        }

        & > div {
          padding: 8px 12px;
          select {
            height: 30px;
            line-height: 30px;
            padding: 0;
            border: 1px solid #333;
            background-color: #444;
            font-size: 0.9em;
          }
          input {
            width: 72px;
            vertical-align: top;
            height: 20px;
            line-height: 20px;
            margin: 0;
            outline: none;
            border: 1px solid #333;
            background-color: #444;
            padding: 4px;
            font-size: 0.9em;
            &.short {
              width: 48px;
            }
            &.long {
              width: 164px;
            }
            &.tiny {
              width: 32px;
            }
          }
          #space {
            height: 6px;
          }

          table {
            width: 100%;
          }
        }

      }
    }

  }
}